 <div id="home" class="banner">
    <div class="banner-agileinfo">
      <!-- header -->
      <div class="header">
        <div class="container">   
          <div class="logo">
            <h1><a href="/">SHAKUNTALA ENTERPRISES</a></h1>
          </div> 
          <div class="menu">
            <a href="" id="menuToggle"> <span class="navClosed"></span> </a>
            <nav>  
              <a href="/" class="active scroll">Home</a> 
              <a href="#about" class="scroll">About</a>  
              <a href="#services" class="scroll">Services</a>  
              <a href="#news" class="scroll">News</a>
              <a href="#spec" class="scroll">Specifications</a> 
              <a href="#gallery" class="scroll">Gallery</a> 
              <a href="#contact" class="scroll">Contact</a> 
              <a href="/video-gallery" class="">Video Gallery</a> 
               <a href="/media-gallery" class="">Midea Gallery</a> 
            </nav>
            <script>
            (function($){
              // Menu Functions
              $(document).ready(function(){
              $('#menuToggle').click(function(e){
                var $parent = $(this).parent('.menu');
                $parent.toggleClass("open");
                var navState = $parent.hasClass('open') ? "hide" : "show";
                $(this).attr("title", navState + " navigation");
                  // Set the timeout to the animation length in the CSS.
                  setTimeout(function(){
                    console.log("timeout set");
                    $('#menuToggle > span').toggleClass("navClosed").toggleClass("navOpen");
                  }, 200);
                e.preventDefault();
              });
              });
            })(jQuery);
            </script>
     
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
          <div class="container">
<div style="margin:4%"></div>
<div class="row" style="padding-bottom: 2%;">
  <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press5.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press5.jpg", class: "img-responsive"%>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
  </div>
  <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press3.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press3.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
    <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press1.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press1.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
    <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press2.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press2.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
</div>
<div class="row" style="padding-bottom: 2%;">
  <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press4.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press4.jpg", class: "img-responsive"%>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
  </div>
  <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press6.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press6.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
    <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press7.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press7.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
    <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press8.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press8.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
</div>
<div class="row" style="padding-bottom: 2%;">
  <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press9.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press9.jpg", class: "img-responsive"%>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
  </div>
  <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press10.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press10.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
    <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press11.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press11.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
    <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press12.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press12.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
</div>
<div class="row" style="padding-bottom: 2%;">
  <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press13.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press13.jpg", class: "img-responsive"%>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
  </div>
  <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press14.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press14.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
    <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press15.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press15.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
    <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press16.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press16.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
</div>
<div class="row" style="padding-bottom: 2%;">
  <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press17.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press17.jpg", class: "img-responsive"%>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
  </div>
  <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press18.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press18.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
    <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press19.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press19.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
    <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press20.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press20.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
</div>
<div class="row" style="padding-bottom: 2%;">
  <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press21.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press21.jpg", class: "img-responsive"%>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
  </div>
  <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press22.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press22.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
    <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press23.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press23.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
    <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press24.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press24.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
</div>
<div class="row" style="padding-bottom: 2%;">
  <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press25.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press25.jpg", class: "img-responsive"%>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
  </div>
  <div class="col-md-3">
    <a class="b-link-stripe b-animate-go" href="assets/press26.jpg" data-lightbox="example-set" data-title=" ">
      <%= image_tag "press26.jpg", class: "img-responsive" %>
      <div class="b-wrapper">
            <span class="b-animate b-from-left">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </span>         
          </div>
    </a>
    </div>
<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="image-gallery-title"></h4>
      </div>
      <div class="modal-body">
        <img id="image-gallery-image" class="img-responsive" src="">
      </div>
      <div class="modal-footer">
        <div class="col-md-3 col-md-offset-2">
          <i class="fa fa-chevron-left" style="font-size:30px" id="show-previous-image"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-chevron-right" style="font-size:30px" id="show-next-image"></i>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div calss="clearfix" style="margin-bottom:2px;">
  
</div>
<script>
  $(document).ready(function(){
    loadGallery(true, 'a.thumbnail'); 
    function disableButtons(counter_max, counter_current){
      $('#show-previous-image, #show-next-image').show();
      if(counter_max == counter_current){
        $('#show-next-image').hide();
      } else if (counter_current == 1){
        $('#show-previous-image').hide();
      }
    }
    function loadGallery(setIDs, setClickAttr){
      var current_image,
      selector,
      counter = 0;
      $('#show-next-image, #show-previous-image').click(function(){
        if($(this).attr('id') == 'show-previous-image'){
          current_image--;
        } else {
          current_image++;
        }
        selector = $('[data-image-id="' + current_image + '"]');
        updateGallery(selector);
      });
      function updateGallery(selector) {
        var $sel = selector;
        current_image = $sel.data('image-id');
        $('#image-gallery-caption').text($sel.data('caption'));
        $('#image-gallery-title').text($sel.data('title'));
        $('#image-gallery-image').attr('src', $sel.data('image'));
        disableButtons(counter, $sel.data('image-id'));
      }
      if(setIDs == true){
        $('[data-image-id]').each(function(){
          counter++;
          $(this).attr('data-image-id',counter);
        });
      }
      $(setClickAttr).on('click',function(){
        updateGallery($(this));
      });
    }
  });
</script>