<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SHAKUNTALA ENTERPRISES" %></title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application", :media => "all" %>
    

   

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
   <!--  <style>
.counter{
background-color:white;
color:blue;
font-weight:bold;}
</style>
    <SCRIPT>
             expireDate = new Date
             expireDate.setMonth(expireDate.getMonth()+6)
          jcount = eval(cookieVal("jaafarCounter"))
          jcount++
          document.cookie = "jaafarCounter="+jcount+";expires=" + expireDate.toGMTString()

          function cookieVal(cookieName) {
          thisCookie = document.cookie.split("; ")
          for (i=0; i<thisCookie.length; i++){
          if (cookieName == thisCookie[i].split("=")[0]){
          return thisCookie[i].split("=")[1]
          }
          }
          return 0
          }

          function page_counter(){
          for (i=0;i<(7-jcount.toString().length);i++)
          document.write('<span class="counter"></span>')
          for (y=0;y<(jcount.toString().length);y++)
          document.write('<span class="counter">'+jcount.toString().charAt(y)+'</span>')
          }
   </SCRIPT>
<SCRIPT>
   page_counter(jcount);
</SCRIPT>
 -->
  </head>
  <body>
  
  
    <%= yield %>
    <%= render "layouts/footer"%>

  </body>
</html>
